# Ignorar bytecode Python
__pycache__/
*.py[cod]

mininet-vagrant/mininet/mininet/__pycache__/
mininet-vagrant/mininet/mininet/*.pyc

mininet-vagrant/.vagrant/
mininet-vagrant/*.log
mininet-vagrant/*.pyc
mininet-vagrant/*.pyo
mininet-vagrant/__pycache__/
mininet-vagrant/*.swp
mininet-vagrant/*.swo
mininet-vagrant/*.bak
mininet-vagrant/output/
mininet-vagrant/*.png
mininet-vagrant/*.tar
mininet-vagrant/*.zip
mininet-vagrant/*.tgz
mininet-vagrant/bufferbloat/output/

mininet-vagrant/mininet/mnexec
mininet-vagrant/mininet/*.pyc
mininet-vagrant/mininet/*~
mininet-vagrant/mininet/*.1
mininet-vagrant/mininet/*.xcodeproj
mininet-vagrant/mininet/*.xcworkspace
mininet-vagrant/mininet/\#*\#
mininet-vagrant/mininet/mininet.egg-info
mininet-vagrant/mininet/build
mininet-vagrant/mininet/dist
mininet-vagrant/mininet/doc/html
mininet-vagrant/mininet/doc/latex
mininet-vagrant/mininet/trunk

.bufferbloattcp-pids

.venv_bufferbloatTCP